.degree{
    background-image: linear-gradient(to right ,#037b36 ,#07612c);
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px 15px;
    margin-top: 33px;
    box-shadow: 2px 2px 2px #000;
    border-radius: 4px;
}
.degree h4{
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}
.totalDegree {
    background-color: aliceblue;
    padding-bottom: 25px;
}
.totalDegree li{
        font-style: italic;
        color: #020202;;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 5px;
        margin-bottom: 5px;
        list-style: circle;
}