.footer{
    background-color: #1f2136;
    margin: 0;
    padding: 20px 0px;
}
.footer p{
    color: #ddd;
    font-family: 'Josefin Sans';
}

.footerService{}
.footerService ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerService ul li{
    padding: 10px 0px;
}
.footerService ul li a{
    text-decoration: none;
    color: #fff;
}
.footerService ul li a:hover{
    color: #27E178;
}
.borderArea{
    border-bottom: 1px solid #27E178;;
}
